{
  "repositories": {
    "REPO_OWNER/REPO_NAME": {
      "secret": "",
      "discord_webhook_url": ""
    },
    "ANOTHER_OWNER/ANOTHER_REPO": {
      "secret": "",
      "discord_webhook_url": ""
    }
  }
}