version: "3"

services:
  cloudflared:
    restart: unless-stopped
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token <YOUR_CLOUDFLARED_TOKEN>

  app:
    container_name: StarLimiter
    restart: unless-stopped
    environment:
      SENTRY_DSN: SENTRY_DSN_FOR_ERROR_REPORTING
    image: ghcr.io/serpensin/github-stars-webhook-limiter
    volumes:
      - data:/app/GitHub_Stars_Limiter
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s
    hostname: starlimiter

volumes:
  data: